.board {
  display: flex;
  flex-direction: column;
  background: yellow;
}

.board__row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 12.5vw;
}

.board__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board__cell--game-over {
  background: rgba(0, 0, 0, .25);
}

.board__cell--winner {
  background: transparent;
}

.token {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.token--empty {
  background: white;
}

.token--empty:hover {
  background: #cccccc;
}

.token--red {
  background: red;
}

.token--black {
  background: black;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  font-size: 3rem;
}

.--red-text {color: red;}
.--black-text {color: black;}